
//MOBILE FIRST
$mini: 340px;
$phone: 480px;
$phablet: 650px;
$tablet: 800px;
$notebook: 1000px;
$laptop: 1200px;
$bigtop: 1450px;
$widescreen: 1600px;

//BOILERPLATE BREAKPOINTS
$BPtablet: 768px;


//COLOR SCHEME
$lightgreen: #D4FFCA;
$green: #25DB00; //#50FF2C;  
$mediumgreen: #009E0B;
$darkgreen: #00851C;

$lightblue: #D9FDFF; //#CCFDFF;